<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remoji</title>
</head>
<body>
  <h1>Hi World! 👋</h1>

  <form name="emoji-upload" method="POST" data-netlify="true">
    <p>
      <label>Image URL: <input type="text" name="image-url" /></label>   
    </p>
    <p>
      <label>Emoji Name: <input type="text" name="emoji-name" /></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
</body>
</html>